---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - ""
  resources:
  - secrets
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - eck-config-operator.freepik.com
  resources:
  - indexlifecyclepolicies
  - indextemplates
  - snapshotlifecyclepolicies
  - snapshotrepositories
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - eck-config-operator.freepik.com
  resources:
  - indexlifecyclepolicies/finalizers
  - indextemplates/finalizers
  - snapshotlifecyclepolicies/finalizers
  - snapshotrepositories/finalizers
  verbs:
  - update
- apiGroups:
  - eck-config-operator.freepik.com
  resources:
  - indexlifecyclepolicies/status
  - indextemplates/status
  - snapshotlifecyclepolicies/status
  - snapshotrepositories/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - elasticsearch.k8s.elastic.co
  resources:
  - elasticsearches
  verbs:
  - get
  - list
  - watch
