# This rule is not used by the project elastic-config-operator itself.
# It is provided to allow the cluster admin to help manage permissions for users.
#
# Grants permissions to create, update, and delete resources within the elastic-config-operator.freepik.com.
# This role is intended for users who need to manage these resources
# but should not control RBAC or manage permissions for others.

apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  labels:
    app.kubernetes.io/name: elastic-config-operator
    app.kubernetes.io/managed-by: kustomize
  name: snapshotlifecyclepolicy-editor-role
rules:
- apiGroups:
  - elastic-config-operator.freepik.com
  resources:
  - snapshotlifecyclepolicies
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - elastic-config-operator.freepik.com
  resources:
  - snapshotlifecyclepolicies/status
  verbs:
  - get
