apiVersion: elasticsearch.k8s.elastic.co/v1
kind: Elasticsearch
metadata:
  name: elasticsearch
  namespace: default
spec:
  version: 9.2.3
  nodeSets:
  - name: default
    count: 1
    config:
      node.store.allow_mmap: false
      path.repo: ["/usr/share/elasticsearch/snapshots"]
    volumeClaimTemplates:
    - metadata:
        name: snapshots
      spec:
        accessModes:
        - ReadWriteOnce
        resources:
          requests:
            storage: 5Gi
    podTemplate:
      spec:
        containers:
        - name: elasticsearch
          volumeMounts:
          - name: snapshots
            mountPath: /usr/share/elasticsearch/snapshots

---

apiVersion: kibana.k8s.elastic.co/v1
kind: Kibana
metadata:
  name: kibana
  namespace: default
spec:
  version: 9.2.3
  count: 1
  elasticsearchRef:
    name: elasticsearch
    namespace: default