apiVersion: eck-config-operator.freepik.com/v1alpha1
kind: SnapshotRepository
metadata:
  labels:
    app.kubernetes.io/name: eck-config-operator
    app.kubernetes.io/managed-by: kustomize
  name: snapshotrepository-sample
spec:
  # SyncInterval defines how often the operator will reconcile this resource (default: 10s)
  # Examples: "30s", "5m", "1h"
  # syncInterval: "30s"

  # For ECK cluster, you can use just the name of the cluster (namespace too if is different from the resource) and the
  # operator will automatically get the endpoint, username, password and ca certificate from the ECK cluster.
  resourceSelector:
    name: elasticsearch
    # namespace: default
    endpoint: https://localhost:9200
    username: elastic
    passwordSecretRef:
      name: elasticsearch-es-elastic-user 
      namespace: default
      key: elastic
    # If not defined, the operator will skip TLS verification if the endpoint is configured manually
    # caCertSecretRef:
    #   name: elasticsearch-es-http-certs-public
    #   namespace: default
    #   key: tls.crt
  resources:
    # Example with filesystem repository (good for testing)
    my-fs-repository:
      type: fs
      settings:
        location: "/usr/share/elasticsearch/snapshots"
        compress: true
    # Example with GCS repository (for production)
    # my-gcs-repository:
    #   type: gcs
    #   settings:
    #     bucket: my-elasticsearch-snapshots
    #     client: default
    #     compress: true
    #     base_path: elasticsearch/snapshots