apiVersion: elastic-config-operator.freepik.com/v1alpha1
kind: IndexLifecyclePolicy
metadata:
  labels:
    app.kubernetes.io/name: elastic-config-operator
    app.kubernetes.io/managed-by: kustomize
  name: indexlifecyclepolicy-sample
spec:
  # SyncInterval defines how often the operator will reconcile this resource (default: 10s)
  # Examples: "30s", "5m", "1h"
  syncInterval: "30s"
  
  # For ECK cluster, you can use just the name of the cluster (namespace too if is different from the resource) and the
  # operator will automatically get the endpoint, username, password and ca certificate from the ECK cluster.
  resourceSelector:
    name: elasticsearch
    # namespace: default
    endpoint: https://localhost:9200
    username: elastic
    passwordSecretRef:
      name: elasticsearch-es-elastic-user
      namespace: default
      key: elastic
    # If not defined, the operator will skip TLS verification if the endpoint is configured manually
    # caCertSecretRef:
    #   name: elasticsearch-es-http-certs-public
    #   namespace: default
    #   key: tls.crt
  resources:
    30d-retention:
      policy:
        phases:
          hot:
            min_age: "0ms"
            actions:
              rollover:
                max_primary_shard_size: "50GB"
                max_age: "1d"
              set_priority:
                priority: 100
          warm:
            min_age: "7d"
            actions:
              shrink:
                number_of_shards: 1
              forcemerge:
                max_num_segments: 1
              set_priority:
                priority: 50
          delete:
            min_age: "30d"
            actions:
              delete: {}
    7d-retention:
      policy:
        phases:
          hot:
            min_age: "0ms"
            actions:
              rollover:
                max_primary_shard_size: "30GB"
                max_age: "1d"
              set_priority:
                priority: 100
          delete:
            min_age: "7d"
            actions:
              delete: {}
